<table class="table">
  <thead>
    <tr>
      <th scope="col">Level</th>
      <th scope="col">Icon</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <TalentRow @heroTalent={{hero.talents.[1]}} @level=1 />
    <TalentRow @heroTalent={{hero.talents.[4]}} @level=4 />
    <TalentRow @heroTalent={{hero.talents.[7]}} @level=7 />
    <TalentRow @heroTalent={{hero.talents.[10]}} @level=10 />
    <TalentRow @heroTalent={{hero.talents.[13]}} @level=13 />
    <TalentRow @heroTalent={{hero.talents.[16]}} @level=16 />
    <TalentRow @heroTalent={{hero.talents.[20]}} @level=20 />
  </tbody>
</table>