<table class="table">
  <thead>
    <tr>
      <th scope="col">Level</th>
      <th scope="col">Icon</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <TalentRow @heroTalent={{hero.talents.[1]}} />
    <TalentRow @heroTalent={{hero.talents.[4]}} />
    <TalentRow @heroTalent={{hero.talents.[7]}} />
    <TalentRow @heroTalent={{hero.talents.[10]}} />
    <TalentRow @heroTalent={{hero.talents.[13]}} />
  </tbody>
</table>